body {
  font-family: Arial, sans-serif;
  background: #eef2f3;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: white;
  margin-top: 50px;
  border-radius: 10px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
